<%- include('./partials/header') %> 

    <% pokemons.forEach(pokemon => { %>
        <article class="card">
            <img class="card__img" src="/img/<%= pokemon.numero %>.png " alt="photo de <%= pokemon.nom %> ">
            <h2 class="card__title">#<%= pokemon.numero %> <%= pokemon.nom %></h2>
        </article>
    <% }) %>

<%- include('./partials/footer') %> 
